@import url(./global.css);

/* ================================= index header ====================== */
.index__header{
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat center center / cover;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    position: relative;
    overflow: hidden;
}
.index__header .index__header-image{
    height: 85vh; width: fit-content;
    display: flex; align-items: center;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -40%);
}
.index__header .index__header-image img{
    animation-name: picchiToBura;
    animation-duration: 1.5s;
    height: 80%;
}
.index__header-social{ 
    position: absolute;
    top: 30%; right: -50px; 
    color: #fff;
    animation-name: socialIconAnim;
    animation-duration: 1.5s;
}
.index__header-social .icon{ margin-bottom: 30px; width: fit-content; transition: .4s;}
.index__header-social .icon a{ 
    text-decoration: none;
    color: #fff; font-size: 18px;
}
.index__header-social .text{
    font-family: var(--charu);
    font-weight: bold; font-size: 20px;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    margin-left: 20px; margin-top: 100px;
    position: relative;
}
.index__header-social .text:before{
    content: '';
    position: absolute;
    top: 50%; left: -76%;
    width: 70%; height: 1px;
    background-color: #fff;
}
.index__header-social .icon:hover{
    color: #ccc;
}

/* =================== index identity ================== */
.index__identity{margin-top: 100px; padding: 0 100px; display: flex; flex-wrap: wrap; align-items: center;}
.index__identity-left{ width: 60%; }
.index__identity-right{ width: 38%; height: 50vh; position: relative;}
.index__identity-right img{ 
    position: absolute; transition: .3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.index__identity-right img:hover{ 
    transform: scale(1.1); 
    box-shadow: 5px 5px 20px var(--color-primary);
    z-index: 1;
}
.index__identity-right .one{ width: 37%; top: 10%; left: 5%;}
.index__identity-right .two{ width: 55%; top: 0; right: 0;}
.index__identity-right .three{ width: 50%; bottom: 0; left: 20%;}
.index__identity-text{ font-family: var(--charu); font-size: 20px; }


/* ================= index description ================= */
.index__description{ margin-top: 50px; padding: 0 100px; }
.index__description-items{  display: flex; justify-content: space-between; flex-wrap: wrap; }
.index__description-item{ width: 30%;}
.index__description-item-heading{
     font-family: var(--anton); font-size: 20px; color: #444;
     line-height: 25px; letter-spacing: 2px;
     padding: 8px 0 6px 0; margin-left: 10px; margin-bottom: 20px;
     position: relative; z-index: 1;
     transition: .7s;
}
.index__description-item-heading:before{ 
    content: '';
    position: absolute; top: 0; left: -10px; 
    width: 5px; height: 100%;
    background-color: var(--color-primary);
    transition: .3s;
}
.index__description-item-heading:hover::before{ width: 80%; z-index: -1; }
.index__description-item-heading:hover{ color: #f7f7f7; }
.index__description-item p{ font-family: var(--charu); font-size: 16px; }



/* ========================= index quoto ======================= */
.index__quoto{
    margin-top: 100px;
    width: 100%; height: 70vh;
    background: linear-gradient(180deg, rgba(85, 197, 122, 0.6) 0%, rgba(85, 197, 122, 0.9) 50%),
                url(../images/helpingHands/love2.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    display: flex;
    align-items: center; justify-content: center;
}
.quoto{
    width: fit-content;
    font-family: var(--charu);
    color: #fff;
}
.quoto h1{ font-size: 30px; font-style: italic; }
.quoto h1 span{ font-size: 45px; }
.quoto h2{ font-size: 20px; text-align: right;}


/* ================== levels ================ */
.index__levels{ margin-top: 100px; padding: 0 100px; }
.index__levels-box {
    width: 100%;
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
.index__level{
    width: 45%; height: 50vh;
    margin-bottom: 20px;
    display: flex; align-items: flex-end;
    position: relative;
}
.index__level img{
    width: 150px; padding: 0 10px;
    position: absolute; top: -10px; left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: var(--color-body);
}
.index__level .level{ 
    height: 80%; width: 100%; position: relative; 
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
    border: 5px solid var(--color-primary);
    border-radius: 10px;
}
.index__level .level .level-description{ 
    width: 90%;
    position: absolute; top: 75px; left: 50%;
    transform: translateX(-50%);
    text-align: center; 
}
.index__level .level .level-description h1{
    font-family: var(--anton); font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.index__level .level .level-description {
    font-family: var(--charu);
    font-size: 18px;
}

/* ==================== categories ================== */
.index__categories{ margin-top: 100px; padding: 0 100px; height: fit-content; }
.index__task-categories{
    width: 100%; margin-top: 50px;
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
.index__task-category{ width: 30%; height: 60vh;}
.card{ position: relative; }
.card-side{
    height: 60vh; width: 100%;
    transition: all .8s ease;
    position: absolute; top: 0; left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.card-side-front{ background-color: #fff; }
.card-side-back{ 
    display: flex; 
    justify-content: center; align-items: center; 
    transform: rotateY(180deg);
}
.card:hover .card-side-front{ transform: rotateY(-180deg); }
.card:hover .card-side-back{ transform: rotateY(0); }
.card-heading{
    font-family: var(--anton); font-size: 40px; letter-spacing: 2px;
    text-transform: uppercase; text-align: center;
    margin-top: 30px;
}
.card__texts{
    margin-left: 20px;
    margin-top: 35px;
    counter-reset: step;
    font-family: var(--charu);
}
.card__texts .text{
    list-style-type: none;
    margin: 20px 0;
    margin-left: 50px;
    font-size: 16px; line-height: 20px;
    position: relative;
}
.card__texts .text:before{
    content: counter(step);
    counter-increment: step;
    width: 25px; height: 25px;
    border-radius: 50%;
    line-height: 25px;
    display: block;
    color: #fff; text-align: center; font-weight: bold;
    position: absolute; left: -35px;
    z-index: 1;
}
.back-card{
    width: fit-content; height: fit-content;
    padding: 20px; text-align: center;
    color: #fff; text-transform: uppercase;
}
.back-card h4{ font-family: var(--charu); font-size: 30px; }
.back-card h1.numb{ 
    font-family: var(--anton);
    font-size: 100px; line-height:100px; letter-spacing: 3px; 
}
.back-card h1.tasks{
    font-family: var(--anton); font-size: 40px;
    letter-spacing: 3px; margin-bottom: 20px;
}


.card-image{ width: 100%; height: 15vh; margin-top: -35px; position: relative; }
.card-image img{ height: 40vh; position: absolute; left: 90%; bottom: 0; transform: translateX(-50%); }

.card-1 .card-heading{ color: var(--color-red); }
.card-1 .card-side-back{ background: var(--color-red); }
.card-1 .card__texts .text:before{ background: var(--color-red); }
.card-1 .card-side button{ color: var(--color-red); }


.card-2 .card-heading{ color: var(--color-yellow); }
.card-2 .card-side-back{ background: var(--color-yellow); }
.card-2 .card__texts .text:before{ background: var(--color-yellow); }
.card-2 .card-side button{ color: var(--color-yellow); }

.card-3 .card-heading{ color: var(--color-blue); }
.card-3 .card-side-back{ background: var(--color-blue); }
.card-3 .card__texts .text:before{ background: var(--color-blue); }
.card-3 .card-side button{ color: var(--color-blue); }


@media (max-width: 768px){ 
    .index__header img{ height: 50%; }
    .index__header-social{ top: 70%; right: 15px; }
    .index__header-social .icon{ margin-bottom: 20px; }
    .index__header-social .icon a{ font-size: 18px;}
    .index__header-social .text{display: none; }

    .index__identity{margin-top: 50px; padding: 0 25px;}
    .index__identity-left{ width: 100%; }
    .index__identity-right{ width: 100%; }
    .index__identity-right{ margin-top: 30px; height: 30vh; margin-bottom: 10px;}
    .index__identity-text{ font-size: 17px; }

    .index__description{ padding: 0 25px; }
    .index__description-item{ width: 100%; margin-bottom: 20px;}
    .index__description-item p{ font-family: var(--charu); font-size: 17px; }
    .index__description-item-heading{
        font-size: 15px; line-height: 15px; letter-spacing: 1px;
        padding: 4px 0 3px 0; margin-left: 6px; margin-bottom: 10px;
    }
   
    .index__quoto{ margin-top: 25px; height: 30vh; }
    .quoto{ width: 75%; }
    .quoto h1{ font-size: 18px;}
    .quoto h1 span{ font-size: 20px; }
    .quoto h2{ font-size: 13px; margin-top: -10px;}
    
    .index__levels{ margin-top: 50px; padding: 0 25px; }
    .index__level{ width: 100%; height: 35vh; margin-bottom: 20px; }
    .index__level img{ width: 75px; padding: 0 5px; top: -5px; }
    .index__level .level{  border: 2.5px solid var(--color-primary); border-radius: 6px; }
    .index__level .level .level-description{ top: 35px; }
    .index__level .level .level-description p{ margin-top: 10px; font-size: 17px; line-height: 17px; }

    .index__categories{ margin-top: 50px; padding: 0 25px; }
    .index__task-category{ width: 100%; height: 50vh; margin-bottom: 30px;}
    .card .card-side{ height: 50vh; }
    .card-image{ width: 100%; height: 10vh; margin-top: 20px; }
    .card-image img{ height: 25vh; }
    .card-heading{ font-size: 30px; margin-top: 30px; }
}