@import url(./global.css);

/* ===================== USER INFO SECTION =================== */
.userprofile{
    margin: 0; padding: 25px;
    display: flex; flex-wrap: wrap;
    align-items: flex-start; justify-content: space-between;
}
.userprofile__user-info{ flex-basis: 25%; height: 100vh; position: sticky; top: 20px; padding: 0 20px;}
.userprofile__user-content{ flex-basis: 75%; min-height: 100vh; padding: 0 20px; }
.line{ width: 100%; height: 2px; background-color: #f7f7f7; }

.user-info{
    width: 100%; height: 92vh;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

/* user option box */
.user-info-option-box, .user-info-image-box{ width: 100%; margin-bottom: 10px; padding: 0 25px; }
.user-info-option-box{ padding-top: 20px; display: flex; justify-content: space-between; align-items: center; }
.user-info-option-box div{ cursor: pointer; }

/* user image box */
.user-info-image-box{ width: 100%; text-align: center; }
.user-info-image-box img{ width: 100px; height: 100px; border-radius: 50%;}
.user-info-name h2{
    font-family: sans-serif;
    font-size: 20px; color: #444;
    font-weight: 600;
}
.user-info-name h3{ font-family: var(--charu); font-size: 15px; font-weight: bold; color: #ccc; }

/* ucser points */
.user-points{ padding: 15px 25px; font-family: var(--charu); font-size: 15px;  color: #444; }
.user-points h1{ 
    font-family: var(--charu);
    color: var(--color-primary);
    font-size: 25px; line-height: 25px;
}

/* user current task progress */
.user-current-task-progress{ 
    padding: 15px 25px 25px 25px;
font-family: var(--charu); font-size: 15px; color: #444;
}
.user-current-task-progress p span{ color: var(--color-primary); font-weight: bold; font-size: 16px; }
.user-current-task-progress .task-progress{
    width: 100%; height: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    background: #f6f6f6;
}
.user-current-task-progress .task-progress .progress{
    height: 10px; border-radius: 10px;
    background: linear-gradient(to left, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
}

/* user badges */
.user-badges{
    font-family: var(--charu); font-size: 15px;
    padding: 15px 25px 25px 25px; color: #444;
}
.user-badges .badges{ display: flex; align-items: center; }
.user-badges .badges img{ width: 17%; margin-right: 10px; }
.userprofile .back-to-home{ padding: 0 25px; text-align: center; margin-top: 50px;}



/* ===================== CONTET SECTION ===================== */
.userprofile__user-content .heading{
    width: 90%; margin-bottom: 20px;
    display: flex; 
    justify-content: space-between; align-items: center;
}
.content-heading{
    font-size: 35px; letter-spacing: 2px; line-height: 31px;
    font-family: var(--anton); color: #444; margin-top: 20px;
}
.content-heading-des{ font-family: var(--charu); font-size: 16px; }

/* contents */
.userprofile__user-content .contents{ display: flex; flex-wrap: wrap;}

/* content */
.contents .content{ 
    width: 33.33%; min-height: 40vh; 
    display: flex; flex-wrap: wrap;
    padding: 10px;
}

/* content video */
.content .content-video, .content .content-video .video,
.content-video .content-back{
    width: 100%; height: 35vh;
}
.content .content-video{
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.content .content-video .video{ display: flex; justify-content: center; align-items: center; }
.content .content-video .video video{
    width: 100%; max-height: 35vh; object-fit: contain;
    outline: none; border: none;
}

/* content info */
.content .content-info{ 
    width: 100%; padding: 5px 0; 
    display: flex; justify-content: space-between; align-items: center;
    color: #444; font-size: 15px; padding: 5px;
}
.content .content-info div{ display: flex; align-items: center; }
.content .content-info a{ color: #444; text-decoration: none; margin-right: 15px; cursor: pointer;}
.content .content-info .edit{ cursor: pointer;}


@media (max-width: 768px){
    .userprofile{ margin: 0; padding: 0;}
    .userprofile__user-info{ flex-basis: 100%; height: max-content; position: static; padding: 0;}
    .userprofile__user-content{ flex-basis: 100%; height: fit-content; padding: 0 20px; margin-top: 25px;}
    .user-info{ width: 100%; height: fit-content; border-radius: 0; box-shadow: none; background-color: #f7f7f7;}
    .line{ background: #fff; height: 1.5px;}
    
    .user-info-option-box, .user-info-image-box{ margin-bottom: 10px; padding: 0; }
    .user-info-option-box{ padding: 25px 20px;  }
    .user-info-option-box .extra{ display: none; }

    .user-info-image-box{ width: 100%; text-align: center; }
    .user-info-image-box img{ width: 100px; height: 100px; border-radius: 50%;}

    .user-current-task-progress{  padding: 10px 20px 20px 20px; }
    .user-points{ padding: 10px 20px;}

    .user-badges{ padding: 10px 20px 20px 20px;}
    .user-badges .badges img{ width: 40px; margin-right: 10px; }
    .userprofile .back-to-home{ display: none;}


    .userprofile__user-content .heading{ width: 100%; margin-bottom: 10px; }
    .content-heading{ font-size: 20px; line-height: 20px; margin-top: 10px; }
    .content-heading-des{font-size: 12px; }
    .contents .content{ width: 100%; min-height: 20vh; padding: 0; margin-bottom: 25px;}
    
}